/* Reset some default styles */
html, body, .bodyContainer {
  margin: 0;
  padding: 0;
}

html {
  background-color: #E6EFF5;


}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  font-family: var(--font-family);
}

.bodyContainer {
  width: 635px;
  height: 475px;
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;

}

#item-0 {
  background-color: #FFFFFF;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  padding: 40px 40px;
}

#item-0 h2 {
  width: 324px;
  height: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #2ab3b0;
}

#item-0 h3 {
  width: 367px;
  height: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.22px;
  text-align: left;
  color: #c0de33;
}

#item-0 p {
  width: 555px;
  height: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #9aa7be;
}

#item-1 {
  background-color: #2AB3B1;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  padding: 40px 40px;
}

#item-1 h2 {
  width: 182px;
  height: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.22px;
  text-align: left;
  color: #ffffff;

}

#item-1 h3 {
  width: 140px;
  height: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  margin-top: 18px;
  margin-bottom: 0;
}

#item-1 h3 span {
  width: 75px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
}

#item-1 p {
  width: 238px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 26px;

}

#item-1 button {
  width: 237px;
  height: 48px;
  background: #c0de33;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-color: #2BB3B0;
  border-bottom: #2BB3B0;
  border-right: #2BB3B0;
}

button span {
  width: 59px;
  height: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  text-align: left;

  color: #ffffff;
}

#item-2 {
  background-color: #2BB3B0;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  padding: 40px 40px;
}

#item-2 h2 {
  width: 100px;
  height: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.22px;
  text-align: left;
  color: #ffffff;
}

#item-2 p {
  width: 238px;
  height: 140px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.17px;
  text-align: left;
  color: #ffffff;
  opacity: 0.75;
}

:root {
  --font-family: "Karla", sans-serif;
}

@media only screen and (max-width: 768px) {
  .angry-grid {
    grid-template-columns: 1fr; /* Change to 1 column */
    grid-template-rows: auto; /* Change to auto to fit content */
  }

  /* Set each item to span across all columns */
  #item-0 {
    grid-row: span 2; /* Make item-0 span 2 rows */
    grid-column: 1; /* Place item-0 in the first column */

  }

  #item-1 {
    grid-row: 3; /* Place item-1 in the third row */
    grid-column: 1; /* Place item-1 in the first column */
  }

  #item-2 {
    grid-row: 4; /* Place item-2 in the fourth row */
    grid-column: 1; /* Place item-2 in the first column */

  }

}



